* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #e5e5e5;
    font-family: 'Comfortaa', sans-serif;
    overflow-x: hidden;
}

nav {
    /* This ensures the navbar sticks to the top of the viewport */
    position: sticky;
    top: 0;
    z-index: 1000;
}

code {
    -webkit-user-select: all;
    -moz-user-select: all;
    user-select: all;
    white-space: normal;
    /* Allows text to wrap */
    word-wrap: break-word;
    /* Breaks long words to wrap */
    overflow-wrap: break-word;
}

footer {
    position: relative;
    padding-top: 100px;
}

section {
    padding-top: 100px;
    padding-left: 50px;
    padding-right: 50px;
}

.centered {
    /* Centers horizontally */
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    /* Centers vertically */
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.nav-bar {
    background-color: #121212;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    background-origin: border-box;
    background-clip: content-box, border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

}

.nav-left {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    padding-left: 50px;
}

.nav-right {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding-right: 75px;
}

.link-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    text-align: center;
    text-decoration: none;
    /* Button background color */
    background-color: #0284c7;
    /* Rounded corners */
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.link-button:empty {
    display: none;
}

.link-button:hover {
    /* Darker blue for hover effect */
    background-color: #0284c7;
    /* Slight zoom effect */
    transform: scale(1.05);
}

.link-button:active {
    /* Even darker for active state */
    background-color: #0369a1;
    transform: scale(0.95);
}

#status {
    max-width: 60%;
    word-wrap: break-word;
}

select {
    padding-right: 12px;
    padding-left: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 16px;
    background-color: #e5e5e5;
    color: #121212;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-align-last: center;
}

/* Add hover and focus effects */
select:hover {
    background-color: #d4d4d4;
}

select:focus {
    border-color: #0284c7;
}