bech32==1.2.0
cached-property==1.5.2
cbor2==5.6.4
certifi==2024.8.30
charset-normalizer==3.3.2
cytoolz==1.0.0
eth-hash==0.7.0
eth-typing==5.0.0
eth-utils==5.0.0
hexbytes==1.2.1
idna==3.10
py-ecc==7.0.1
requests==2.32.3
toolz==1.0.0
typing_extensions==4.12.2
urllib3==2.2.3
