.header {
  height: rem(56px);
  margin-bottom: rem(5px);
  background-color: var(--mantine-color-body);
  border-bottom: rem(1px) solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  display: flex;
}

.inner {
  height: rem(56px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 90%;
}
